body{
    font-family:Arial, Helvetica, sans-serif
}
.container{
    padding-top: 20px;
}
#h1{
    font-size: 30px;
}
.container h2{
    font-size: 20px;
}
i{
    position: relative;
    top: -30px;
    left: 10px;
    opacity: 0.6;
}
.span-price{
    text-decoration:line-through;
}
.jumbotron h2,.jumbotron p {
    font-size: 16px;
}
